@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
.__mqDebag {
  z-index: 100;
  position: relative;
}
@media only screen and (max-width: 649px) {
  .__mqDebag::after {
    content: "Mobile";
  }
}
@media only screen and (min-width: 650px) and (max-width: 1023px) {
  .__mqDebag::after {
    content: "Tablet";
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
  .__mqDebag::after {
    content: "Laptop";
  }
}
@media only screen and (min-width: 1240px) {
  .__mqDebag::after {
    content: "Desktop";
  }
}
.__mqDebag::after {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #FFFFFF;
  font: 20px/20px "Verdana";
  background: #202327;
  padding: 4px 8px;
  border-radius: 8px;
}

.icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  outline: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* ERIC MEYER RESET
================================================== */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

html {
  height: 100%;
  overflow-x: hidden;
}
html body {
  background-color: #F8F8F8;
  height: 100%;
  overflow-x: hidden;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
}

.button {
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  gap: 8px;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  flex: 0 0 auto;
  border: 0;
  z-index: 2;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.button .icon {
  margin-top: -2px;
}
.button::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: transparent;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100%);
  border-radius: 4px;
  border-top-right-radius: 100%;
}
.button.large {
  font: 600 24px/24px "Montserrat", sans-serif;
  padding: 16px 24px;
}
.button.large.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.button.large.secondary {
  background-color: #F9AA34;
  color: #202327;
}
.button.large.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}
.button.large.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.button.large.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.button.large.primary:hover {
  color: #FFFFFF;
}
.button.large.primary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #5565FF;
}
.button.large.secondary:hover {
  color: #202327;
}
.button.large.secondary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #FABF66;
}
.button.large.tertiary:hover {
  color: #FFFFFF;
}
.button.large.tertiary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #39414E;
}
.button.large.success:hover {
  color: #FFFFFF;
}
.button.large.success:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #8DDA72;
}
.button.large.danger:hover {
  color: #FFFFFF;
}
.button.large.danger:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #EE8181;
}
.button.large.primary:active {
  color: #FFFFFF;
}
.button.large.primary:active::after {
  background-color: #2635CD;
}
.button.large.secondary:active {
  color: #202327;
}
.button.large.secondary:active::after {
  background-color: #F29408;
}
.button.large.tertiary:active {
  color: #FFFFFF;
}
.button.large.tertiary:active::after {
  background-color: #202327;
}
.button.large.success:active {
  color: #FFFFFF;
}
.button.large.success:active::after {
  background-color: #408D25;
}
.button.large.danger:active {
  color: #FFFFFF;
}
.button.large.danger:active::after {
  background-color: #E12828;
}
.button.middle {
  font: 600 20px/20px "Montserrat", sans-serif;
  padding: 12px 16px;
}
.button.middle.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.button.middle.secondary {
  background-color: #F9AA34;
  color: #202327;
}
.button.middle.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}
.button.middle.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.button.middle.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.button.middle.primary:hover {
  color: #FFFFFF;
}
.button.middle.primary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #5565FF;
}
.button.middle.secondary:hover {
  color: #202327;
}
.button.middle.secondary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #FABF66;
}
.button.middle.tertiary:hover {
  color: #FFFFFF;
}
.button.middle.tertiary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #39414E;
}
.button.middle.success:hover {
  color: #FFFFFF;
}
.button.middle.success:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #8DDA72;
}
.button.middle.danger:hover {
  color: #FFFFFF;
}
.button.middle.danger:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #EE8181;
}
.button.middle.primary:active {
  color: #FFFFFF;
}
.button.middle.primary:active::after {
  background-color: #2635CD;
}
.button.middle.secondary:active {
  color: #202327;
}
.button.middle.secondary:active::after {
  background-color: #F29408;
}
.button.middle.tertiary:active {
  color: #FFFFFF;
}
.button.middle.tertiary:active::after {
  background-color: #202327;
}
.button.middle.success:active {
  color: #FFFFFF;
}
.button.middle.success:active::after {
  background-color: #408D25;
}
.button.middle.danger:active {
  color: #FFFFFF;
}
.button.middle.danger:active::after {
  background-color: #E12828;
}
.button.small {
  font: 500 16px/16px "Montserrat", sans-serif;
  padding: 8px 12px;
}
.button.small.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.button.small.secondary {
  background-color: #F9AA34;
  color: #202327;
}
.button.small.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}
.button.small.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.button.small.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.button.small.primary:hover {
  color: #FFFFFF;
}
.button.small.primary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #5565FF;
}
.button.small.secondary:hover {
  color: #202327;
}
.button.small.secondary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #FABF66;
}
.button.small.tertiary:hover {
  color: #FFFFFF;
}
.button.small.tertiary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #39414E;
}
.button.small.success:hover {
  color: #FFFFFF;
}
.button.small.success:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #8DDA72;
}
.button.small.danger:hover {
  color: #FFFFFF;
}
.button.small.danger:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #EE8181;
}
.button.small.primary:active {
  color: #FFFFFF;
}
.button.small.primary:active::after {
  background-color: #2635CD;
}
.button.small.secondary:active {
  color: #202327;
}
.button.small.secondary:active::after {
  background-color: #F29408;
}
.button.small.tertiary:active {
  color: #FFFFFF;
}
.button.small.tertiary:active::after {
  background-color: #202327;
}
.button.small.success:active {
  color: #FFFFFF;
}
.button.small.success:active::after {
  background-color: #408D25;
}
.button.small.danger:active {
  color: #FFFFFF;
}
.button.small.danger:active::after {
  background-color: #E12828;
}
.button.primary.outline {
  background-color: #FFFFFF;
  color: #3C4EFA;
  box-shadow: inset 0 0 0 2px #3C4EFA;
}
.button.secondary.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #F9AA34;
}
.button.tertiary.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #202327;
}
.button.success.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #52B530;
}
.button.danger.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #E85656;
}
.button.primary.transparent {
  background-color: transparent;
  color: #3C4EFA;
  box-shadow: none;
}
.button.secondary.transparent {
  background-color: transparent;
  color: #F9AA34;
  box-shadow: none;
}
.button.tertiary.transparent {
  background-color: transparent;
  color: #788394;
  box-shadow: none;
}
.button.success.transparent {
  background-color: transparent;
  color: #52B530;
  box-shadow: none;
}
.button.danger.transparent {
  background-color: transparent;
  color: #E85656;
  box-shadow: none;
}
.button.primary.pressed {
  background-color: #2635CD;
  color: #FFFFFF;
}
.button.secondary.pressed {
  background-color: #F29408;
  color: #202327;
}
.button.tertiary.pressed {
  background-color: #202327;
  color: #FFFFFF;
}
.button.success.pressed {
  background-color: #408D25;
  color: #FFFFFF;
}
.button.danger.pressed {
  background-color: #E12828;
  color: #FFFFFF;
}
.button.loading {
  flex-direction: row-reverse;
  pointer-events: none;
}
.button.loading i {
  opacity: 0;
  position: absolute;
}
.button.loading::before {
  content: "autorenew";
  width: 1em;
  height: 1em;
  display: block;
  margin-left: 8px;
  font-family: "Material Symbols Rounded";
  animation: rotation 2s infinite linear;
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: none;
}
.button.full {
  width: 100%;
}
.button.fill {
  flex: 1 0 auto;
}
@media only screen and (max-width: 649px) {
  .button.mobile {
    width: 100%;
  }
}
@media only screen and (max-width: 649px) {
  .button.icn {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 11;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .button.icn span {
    display: none;
  }
}
