@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
.__mqDebag {
  z-index: 100;
  position: relative;
}
@media only screen and (max-width: 649px) {
  .__mqDebag::after {
    content: "Mobile";
  }
}
@media only screen and (min-width: 650px) and (max-width: 1023px) {
  .__mqDebag::after {
    content: "Tablet";
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
  .__mqDebag::after {
    content: "Laptop";
  }
}
@media only screen and (min-width: 1240px) {
  .__mqDebag::after {
    content: "Desktop";
  }
}
.__mqDebag::after {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #FFFFFF;
  font: 20px/20px "Verdana";
  background: #202327;
  padding: 4px 8px;
  border-radius: 8px;
}

.icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  outline: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* ERIC MEYER RESET
================================================== */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

html {
  height: 100%;
  overflow-x: hidden;
}
html body {
  background-color: #F8F8F8;
  height: 100%;
  overflow-x: hidden;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  color: #202327;
  font: 700 40px/44px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

h2 {
  margin-bottom: 20px;
  color: #202327;
  font: 700 32px/40px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

h3 {
  margin-bottom: 20px;
  color: #202327;
  font: 700 24px/32px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

h4 {
  margin-bottom: 20px;
  color: #202327;
  font: 700 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

h5 {
  margin-bottom: 20px;
  color: #202327;
  font: 700 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

h6 {
  margin-bottom: 20px;
  color: #202327;
  font: 700 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}

p {
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
p:not(p:last-child) {
  margin-bottom: 20px;
}
p a {
  color: #3C4EFA;
  text-decoration: none;
}
p a:hover {
  color: #5565FF;
}
p a:visited, p a:active {
  color: #2635CD;
}

ul, ol {
  margin-bottom: 20px;
}
ul:not(ul:last-child, ol:last-child), ol:not(ul:last-child, ol:last-child) {
  margin-bottom: 20px;
}
ul li, ol li {
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
ul li:not(ul li:last-child, ol li:last-child), ol li:not(ul li:last-child, ol li:last-child) {
  margin-bottom: 12px;
}

ul li::before {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  margin-top: 12px;
  background: #3C4EFA;
}

ol {
  counter-reset: ol-counter;
}
ol li::before {
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
  width: 20px;
  color: #3C4EFA;
  text-align: right;
}

blockquote {
  padding: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  background: #EAEAEA;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: italic;
  position: relative;
}
blockquote p {
  font-style: italic;
}
blockquote:not(blockquote:last-child) {
  margin-bottom: 20px;
}
blockquote::before, blockquote::after {
  color: #788394;
  font: 700 64px/64px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  opacity: 0.2;
}
blockquote::before {
  content: "“";
  top: 0;
  left: 8px;
}
blockquote::after {
  content: "”";
  bottom: -24px;
  right: 8px;
}

code {
  color: #788394;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  padding: 4px 8px;
  border-radius: 4px;
  background: #EAEAEA;
}

pre {
  color: #202327;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  padding: 16px;
  border-radius: 4px;
  background: #EAEAEA;
  overflow-x: scroll;
  scrollbar-width: 4px;
  scrollbar-height: 4px;
  scrollbar-color: #EAEAEA #FFFFFF;
}
pre::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
pre::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 8px;
}
pre::-webkit-scrollbar-thumb {
  background-color: #EAEAEA;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
}
pre:not(pre:last-child) {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  border-bottom: 2px solid #3C4EFA;
  padding: 4px;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
table td {
  border-bottom: 1px solid #B7BABE;
  padding: 4px;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
table tr:last-child td {
  border: 0;
}

.input {
  background: #FFFFFF;
  border: 2px solid #B7BABE;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 8px 16px;
  color: #202327;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.input:focus {
  border-color: #3C4EFA;
  box-shadow: 0px 0px 0px 4px rgba(198, 208, 238, 0.5), 0px 2px 4px 0px rgba(34, 34, 34, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.input:not(.input:placeholder-shown) {
  border-color: #39414E;
  box-shadow: none;
}
.input-file {
  width: 100%;
  border: 2px solid #B7BABE;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 4px;
  background: #FFFFFF;
  color: #202327;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.input-file::file-selector-button {
  font: 500 16px/16px "Montserrat", sans-serif;
  padding: 8px 12px;
  background-color: #3C4EFA;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  gap: 8px;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  flex: 0 0 auto;
  border: 0;
  z-index: 2;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.input-file::file-selector-button:hover {
  background-color: #5565FF;
}
.input-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
  position: relative;
}
.input-placeholder .icon {
  color: #788394;
}
.input-placeholder .icon + input {
  padding-left: 32px;
  padding-right: 32px;
}
.input-placeholder .icon + input + label {
  left: 32px;
  pointer-events: none;
  color: #788394;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.input-placeholder .icon.__left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  left: 8px;
}
.input-placeholder .icon.__right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  right: 12px;
}
.input-placeholder .icon.__hover {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.input-placeholder label {
  color: #788394;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  left: 16px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.input-placeholder input[type=text], .input-placeholder input[type=password], .input-placeholder input[type=email], .input-placeholder input[type=number], .input-placeholder input[type=search], .input-placeholder input[type=tel], .input-placeholder input[type=url], .input-placeholder input[type=date], .input-placeholder input[type=datetime-local], .input-placeholder input[type=time], .input-placeholder input[type=month], .input-placeholder input[type=week] {
  padding-top: 12px;
  padding-bottom: 4px;
}
.input-placeholder input[type=text]::-webkit-input-placeholder, .input-placeholder input[type=password]::-webkit-input-placeholder, .input-placeholder input[type=email]::-webkit-input-placeholder, .input-placeholder input[type=number]::-webkit-input-placeholder, .input-placeholder input[type=search]::-webkit-input-placeholder, .input-placeholder input[type=tel]::-webkit-input-placeholder, .input-placeholder input[type=url]::-webkit-input-placeholder, .input-placeholder input[type=date]::-webkit-input-placeholder, .input-placeholder input[type=datetime-local]::-webkit-input-placeholder, .input-placeholder input[type=time]::-webkit-input-placeholder, .input-placeholder input[type=month]::-webkit-input-placeholder, .input-placeholder input[type=week]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #FFFFFF;
}
.input-placeholder input[type=text]:-moz-placeholder, .input-placeholder input[type=password]:-moz-placeholder, .input-placeholder input[type=email]:-moz-placeholder, .input-placeholder input[type=number]:-moz-placeholder, .input-placeholder input[type=search]:-moz-placeholder, .input-placeholder input[type=tel]:-moz-placeholder, .input-placeholder input[type=url]:-moz-placeholder, .input-placeholder input[type=date]:-moz-placeholder, .input-placeholder input[type=datetime-local]:-moz-placeholder, .input-placeholder input[type=time]:-moz-placeholder, .input-placeholder input[type=month]:-moz-placeholder, .input-placeholder input[type=week]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  opacity: 1;
}
.input-placeholder input[type=text]::-moz-placeholder, .input-placeholder input[type=password]::-moz-placeholder, .input-placeholder input[type=email]::-moz-placeholder, .input-placeholder input[type=number]::-moz-placeholder, .input-placeholder input[type=search]::-moz-placeholder, .input-placeholder input[type=tel]::-moz-placeholder, .input-placeholder input[type=url]::-moz-placeholder, .input-placeholder input[type=date]::-moz-placeholder, .input-placeholder input[type=datetime-local]::-moz-placeholder, .input-placeholder input[type=time]::-moz-placeholder, .input-placeholder input[type=month]::-moz-placeholder, .input-placeholder input[type=week]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  opacity: 1;
}
.input-placeholder input[type=text]:-ms-input-placeholder, .input-placeholder input[type=password]:-ms-input-placeholder, .input-placeholder input[type=email]:-ms-input-placeholder, .input-placeholder input[type=number]:-ms-input-placeholder, .input-placeholder input[type=search]:-ms-input-placeholder, .input-placeholder input[type=tel]:-ms-input-placeholder, .input-placeholder input[type=url]:-ms-input-placeholder, .input-placeholder input[type=date]:-ms-input-placeholder, .input-placeholder input[type=datetime-local]:-ms-input-placeholder, .input-placeholder input[type=time]:-ms-input-placeholder, .input-placeholder input[type=month]:-ms-input-placeholder, .input-placeholder input[type=week]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF;
}
.input-placeholder input[type=text]::-ms-input-placeholder, .input-placeholder input[type=password]::-ms-input-placeholder, .input-placeholder input[type=email]::-ms-input-placeholder, .input-placeholder input[type=number]::-ms-input-placeholder, .input-placeholder input[type=search]::-ms-input-placeholder, .input-placeholder input[type=tel]::-ms-input-placeholder, .input-placeholder input[type=url]::-ms-input-placeholder, .input-placeholder input[type=date]::-ms-input-placeholder, .input-placeholder input[type=datetime-local]::-ms-input-placeholder, .input-placeholder input[type=time]::-ms-input-placeholder, .input-placeholder input[type=month]::-ms-input-placeholder, .input-placeholder input[type=week]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FFFFFF;
}
.input-placeholder input[type=text]::placeholder, .input-placeholder input[type=password]::placeholder, .input-placeholder input[type=email]::placeholder, .input-placeholder input[type=number]::placeholder, .input-placeholder input[type=search]::placeholder, .input-placeholder input[type=tel]::placeholder, .input-placeholder input[type=url]::placeholder, .input-placeholder input[type=date]::placeholder, .input-placeholder input[type=datetime-local]::placeholder, .input-placeholder input[type=time]::placeholder, .input-placeholder input[type=month]::placeholder, .input-placeholder input[type=week]::placeholder {
  /* Most modern browsers support this now. */
  color: #FFFFFF;
}
.input-placeholder input[type=text]:focus + label, .input-placeholder input[type=text]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=password]:focus + label, .input-placeholder input[type=password]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=email]:focus + label, .input-placeholder input[type=email]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=number]:focus + label, .input-placeholder input[type=number]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=search]:focus + label, .input-placeholder input[type=search]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=tel]:focus + label, .input-placeholder input[type=tel]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=url]:focus + label, .input-placeholder input[type=url]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=date]:focus + label, .input-placeholder input[type=date]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=datetime-local]:focus + label, .input-placeholder input[type=datetime-local]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=time]:focus + label, .input-placeholder input[type=time]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=month]:focus + label, .input-placeholder input[type=month]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label, .input-placeholder input[type=week]:focus + label, .input-placeholder input[type=week]:not(.input-placeholder input[type=text]:placeholder-shown, .input-placeholder input[type=password]:placeholder-shown, .input-placeholder input[type=email]:placeholder-shown, .input-placeholder input[type=number]:placeholder-shown, .input-placeholder input[type=search]:placeholder-shown, .input-placeholder input[type=tel]:placeholder-shown, .input-placeholder input[type=url]:placeholder-shown, .input-placeholder input[type=date]:placeholder-shown, .input-placeholder input[type=datetime-local]:placeholder-shown, .input-placeholder input[type=time]:placeholder-shown, .input-placeholder input[type=month]:placeholder-shown, .input-placeholder input[type=week]:placeholder-shown) + label {
  top: 2px;
  transform: translate(0, 0);
  color: #39414E;
  font: 400 12px/16px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.input-placeholder input[type=text]:focus + label + .__hover, .input-placeholder input[type=password]:focus + label + .__hover, .input-placeholder input[type=email]:focus + label + .__hover, .input-placeholder input[type=number]:focus + label + .__hover, .input-placeholder input[type=search]:focus + label + .__hover, .input-placeholder input[type=tel]:focus + label + .__hover, .input-placeholder input[type=url]:focus + label + .__hover, .input-placeholder input[type=date]:focus + label + .__hover, .input-placeholder input[type=datetime-local]:focus + label + .__hover, .input-placeholder input[type=time]:focus + label + .__hover, .input-placeholder input[type=month]:focus + label + .__hover, .input-placeholder input[type=week]:focus + label + .__hover {
  opacity: 1;
}
.input-number {
  background: #FFFFFF;
  padding: 0 8px;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.input-number input[type=number] {
  width: 100%;
  border: 0;
  padding: 8px 0;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
  color: #788394;
  font: 600 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.input-number input[type=number]::-webkit-outer-spin-button, .input-number input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.input-number__button {
  width: 32px;
  height: 32px;
  border-radius: 80px;
  background: #EAEAEA;
  overflow: hidden;
  flex: 0 0 auto;
  color: #B7BABE;
  font: 20px/20px "Material Symbols Rounded";
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.input-number__button:hover {
  color: #FFFFFF;
  background: #3C4EFA;
}

.textarea {
  background: #FFFFFF;
  border: 2px solid #B7BABE;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 8px 16px;
  resize: vertical;
  position: relative;
  z-index: 1;
  color: #202327;
  font: 400 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.textarea:focus {
  border-color: #3C4EFA;
  box-shadow: 0px 0px 0px 4px rgba(198, 208, 238, 0.5), 0px 2px 4px 0px rgba(34, 34, 34, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.textarea:not(.textarea:placeholder-shown) {
  border-color: #39414E;
  box-shadow: none;
}

.checkbox .control {
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.checkbox .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox .control input:checked ~ .control-indicator {
  border-color: #3C4EFA;
}
.checkbox .control input:checked ~ .control-indicator:after {
  opacity: 1;
  color: #3C4EFA;
}
.checkbox .control input:disabled ~ .control-indicator {
  background: transparent;
  opacity: 0.4;
  pointer-events: none;
}
.checkbox .control input:disabled ~ .control-indicator:after {
  content: "";
}
.checkbox .control-wrapper {
  margin-top: calc(-4px/2);
}
.checkbox .control-wrapper__title {
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.checkbox .control-wrapper__text {
  color: #788394;
  font: 400 12px/16px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.checkbox .control-indicator {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 12px;
  border: 2px solid #B7BABE;
  box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.checkbox .control-indicator:after {
  content: "done";
  color: #B7BABE;
  opacity: 0;
  color: #B7BABE;
  font: 20px/20px "Material Symbols Rounded";
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.radio .control {
  cursor: pointer;
  margin-bottom: 20px;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.radio .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio .control input:checked ~ .control-indicator {
  border-color: #3C4EFA;
}
.radio .control input:checked ~ .control-indicator:after {
  background: #3C4EFA;
  opacity: 1;
}
.radio .control input:disabled ~ .control-indicator {
  background: transparent;
  opacity: 0.4;
  pointer-events: none;
}
.radio .control input:disabled ~ .control-indicator:after {
  background: transparent;
}
.radio .control-wrapper {
  margin-top: calc(-4px/2);
}
.radio .control-wrapper__title {
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.radio .control-wrapper__text {
  color: #788394;
  font: 400 12px/16px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.radio .control-indicator {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  position: relative;
  margin-right: 12px;
  border: 2px solid #B7BABE;
  box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.radio .control-indicator:after {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #B7BABE;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.toggle .control {
  cursor: pointer;
  margin-bottom: 20px;
  color: #202327;
  font: 400 20px/28px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.toggle .control input[type=checkbox] {
  position: relative;
  width: 44px;
  height: 24px;
  background: #788394;
  outline: none;
  border-radius: 20px;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}
.toggle .control input[type=checkbox]:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  top: 4px;
  left: 4px;
  background: #fff;
  transition: 0.2s;
}
.toggle .control input[type=checkbox]:checked {
  background: #3C4EFA;
}
.toggle .control input[type=checkbox]:checked:before {
  left: calc(100% - 20px);
}
.toggle .control input:disabled {
  opacity: 0.2;
}

.chips {
  color: #39414E;
  box-sizing: border-box;
  position: relative;
  outline: none;
}
.chips.large {
  font: 400 16px/24px "Montserrat", sans-serif;
  line-height: 100%;
}
.chips.large .chips-control {
  gap: 8px;
  padding: 8px 12px;
}
.chips.large .chips-control span {
  white-space: nowrap;
  margin-top: 1px;
}
.chips.large .chips-control .icon {
  color: #788394;
  font-size: 24px;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.chips.large .chips-control .icon.close {
  color: #3C4EFA;
  border-radius: 8px;
  padding: 4px;
}
.chips.large .chips-control .icon.check {
  display: none;
}
.chips.large .chips-control .icon::after {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.chips.middle {
  font: 400 16px/24px "Montserrat", sans-serif;
  line-height: 100%;
}
.chips.middle .chips-control {
  gap: 4px;
  padding: 4px 12px;
}
.chips.middle .chips-control span {
  white-space: nowrap;
  margin-top: 0;
}
.chips.middle .chips-control .icon {
  color: #788394;
  font-size: 20px;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.chips.middle .chips-control .icon.close {
  color: #3C4EFA;
  border-radius: 8px;
  padding: 4px;
}
.chips.middle .chips-control .icon.check {
  display: none;
}
.chips.middle .chips-control .icon::after {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.chips.small {
  font: 400 12px/16px "Montserrat", sans-serif;
  line-height: 100%;
}
.chips.small .chips-control {
  gap: 4px;
  padding: 4px 8px;
}
.chips.small .chips-control span {
  white-space: nowrap;
  margin-top: 1px;
}
.chips.small .chips-control .icon {
  color: #788394;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.chips.small .chips-control .icon.close {
  color: #3C4EFA;
  border-radius: 8px;
  padding: 4px;
}
.chips.small .chips-control .icon.check {
  display: none;
}
.chips.small .chips-control .icon::after {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.chips-control {
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid #B7BABE;
  background: #FFFFFF;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: inline-flex;
  justify-content: row;
  align-items: center;
  gap: center;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.chips-control::before {
  display: none;
}
.chips-control:hover {
  background: #EAEFFC;
  border-color: #788394;
}
.chips-control:active {
  border-color: #3C4EFA;
}
.chips:focus .chips-control {
  border-color: #3C4EFA;
  box-shadow: 0px 0px 0px 4px rgba(198, 208, 238, 0.5), 0px 2px 4px 0px rgba(34, 34, 34, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 649px) {
  .chips.large {
    font: 400 16px/24px "Montserrat", sans-serif;
  }
  .chips.large .chips-control {
    padding: 4px 12px;
  }
  .chips.large i {
    font-size: 20px;
  }
}
.chips.__input .chips-control:hover {
  background: #FFFFFF;
}
.chips.__input .chips-control:hover .close {
  background: #B7BABE;
}
.chips.__input:focus .chips-control {
  border-color: #B7BABE;
  box-shadow: none;
}
.chips.__input:focus .chips-control .close {
  background: #FFFFFF;
  border: inset 2px solid #3C4EFA;
  box-shadow: 0px 0px 0px 4px rgba(198, 208, 238, 0.5), 0px 2px 4px 0px rgba(34, 34, 34, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.chips.__input:focus .chips-control .close::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #3C4EFA;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.chips.loader {
  flex-direction: row-reverse;
  pointer-events: none;
}
.chips.loader i:first-child::before {
  content: "autorenew";
  color: #3C4EFA;
  width: 1em;
  height: 1em;
  display: block;
  font-family: "Material Symbols Rounded";
  animation: rotation 2s infinite linear;
}
@media only screen and (max-width: 649px) {
  .chips.mobile .chips-control {
    width: 100%;
  }
}
.chips.disable {
  opacity: 0.5;
  pointer-events: none;
}
.chips input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.chips input:checked + .chips-control {
  border-color: #3C4EFA;
  background: #EAEFFC;
}
.chips input:checked + .chips-control i {
  color: #3C4EFA !important;
}
.chips input:checked + .chips-control i.check {
  display: block !important;
}

.snackbar {
  width: auto;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 8px 12px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  color: #39414E;
  font: 500 16px/16px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.snackbar i {
  color: #3C4EFA;
}
.snackbar i.close {
  color: #788394;
  cursor: pointer;
}
.snackbar.primary {
  border-color: #3C4EFA;
  background-color: #FFFFFF;
  color: #39414E;
}
.snackbar.primary i {
  color: #3C4EFA;
}
.snackbar.primary i.close {
  color: #B7BABE;
}
.snackbar.success {
  border-color: #52B530;
  background-color: #FFFFFF;
  color: #39414E;
}
.snackbar.success i {
  color: #52B530;
}
.snackbar.success i.close {
  color: #B7BABE;
}
.snackbar.waring {
  border-color: #F9AA34;
  background-color: #FFFFFF;
  color: #39414E;
}
.snackbar.waring i {
  color: #F9AA34;
}
.snackbar.waring i.close {
  color: #B7BABE;
}
.snackbar.danger {
  border-color: #E85656;
  background-color: #FFFFFF;
  color: #39414E;
}
.snackbar.danger i {
  color: #E85656;
}
.snackbar.danger i.close {
  color: #B7BABE;
}
.snackbar.caption {
  border-color: #788394;
  background-color: #788394;
  color: #FFFFFF;
}
.snackbar.caption i {
  color: #B7BABE;
}
.snackbar.caption i.close {
  color: #B7BABE;
}
.snackbar.body {
  border-color: #39414E;
  background-color: #39414E;
  color: #FFFFFF;
}
.snackbar.body i {
  color: #B7BABE;
}
.snackbar.body i.close {
  color: #788394;
}
.snackbar.tertiary {
  border-color: #202327;
  background-color: #202327;
  color: #FFFFFF;
}
.snackbar.tertiary i {
  color: #B7BABE;
}
.snackbar.tertiary i.close {
  color: #788394;
}

.label {
  width: auto;
  border-radius: 4px;
  background: #B7BABE;
  padding: 0 4px;
  box-sizing: border-box;
  color: #39414E;
  font: 600 12px/16px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.label.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.label.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.label.waring {
  background-color: #F9AA34;
  color: #202327;
}
.label.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.label.caption {
  background-color: #788394;
  color: #FFFFFF;
}
.label.body {
  background-color: #39414E;
  color: #FFFFFF;
}
.label.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}

.button {
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  gap: 8px;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  flex: 0 0 auto;
  border: 0;
  z-index: 2;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.button .icon {
  margin-top: -2px;
}
.button::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: transparent;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100%);
  border-radius: 4px;
  border-top-right-radius: 100%;
}
.button.large {
  font: 600 24px/24px "Montserrat", sans-serif;
  padding: 16px 24px;
}
.button.large.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.button.large.secondary {
  background-color: #F9AA34;
  color: #202327;
}
.button.large.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}
.button.large.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.button.large.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.button.large.primary:hover {
  color: #FFFFFF;
}
.button.large.primary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #5565FF;
}
.button.large.secondary:hover {
  color: #202327;
}
.button.large.secondary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #FABF66;
}
.button.large.tertiary:hover {
  color: #FFFFFF;
}
.button.large.tertiary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #39414E;
}
.button.large.success:hover {
  color: #FFFFFF;
}
.button.large.success:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #8DDA72;
}
.button.large.danger:hover {
  color: #FFFFFF;
}
.button.large.danger:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #EE8181;
}
.button.large.primary:active {
  color: #FFFFFF;
}
.button.large.primary:active::after {
  background-color: #2635CD;
}
.button.large.secondary:active {
  color: #202327;
}
.button.large.secondary:active::after {
  background-color: #F29408;
}
.button.large.tertiary:active {
  color: #FFFFFF;
}
.button.large.tertiary:active::after {
  background-color: #202327;
}
.button.large.success:active {
  color: #FFFFFF;
}
.button.large.success:active::after {
  background-color: #408D25;
}
.button.large.danger:active {
  color: #FFFFFF;
}
.button.large.danger:active::after {
  background-color: #E12828;
}
.button.middle {
  font: 600 20px/20px "Montserrat", sans-serif;
  padding: 12px 16px;
}
.button.middle.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.button.middle.secondary {
  background-color: #F9AA34;
  color: #202327;
}
.button.middle.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}
.button.middle.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.button.middle.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.button.middle.primary:hover {
  color: #FFFFFF;
}
.button.middle.primary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #5565FF;
}
.button.middle.secondary:hover {
  color: #202327;
}
.button.middle.secondary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #FABF66;
}
.button.middle.tertiary:hover {
  color: #FFFFFF;
}
.button.middle.tertiary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #39414E;
}
.button.middle.success:hover {
  color: #FFFFFF;
}
.button.middle.success:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #8DDA72;
}
.button.middle.danger:hover {
  color: #FFFFFF;
}
.button.middle.danger:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #EE8181;
}
.button.middle.primary:active {
  color: #FFFFFF;
}
.button.middle.primary:active::after {
  background-color: #2635CD;
}
.button.middle.secondary:active {
  color: #202327;
}
.button.middle.secondary:active::after {
  background-color: #F29408;
}
.button.middle.tertiary:active {
  color: #FFFFFF;
}
.button.middle.tertiary:active::after {
  background-color: #202327;
}
.button.middle.success:active {
  color: #FFFFFF;
}
.button.middle.success:active::after {
  background-color: #408D25;
}
.button.middle.danger:active {
  color: #FFFFFF;
}
.button.middle.danger:active::after {
  background-color: #E12828;
}
.button.small {
  font: 500 16px/16px "Montserrat", sans-serif;
  padding: 8px 12px;
}
.button.small.primary {
  background-color: #3C4EFA;
  color: #FFFFFF;
}
.button.small.secondary {
  background-color: #F9AA34;
  color: #202327;
}
.button.small.tertiary {
  background-color: #202327;
  color: #FFFFFF;
}
.button.small.success {
  background-color: #52B530;
  color: #FFFFFF;
}
.button.small.danger {
  background-color: #E85656;
  color: #FFFFFF;
}
.button.small.primary:hover {
  color: #FFFFFF;
}
.button.small.primary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #5565FF;
}
.button.small.secondary:hover {
  color: #202327;
}
.button.small.secondary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #FABF66;
}
.button.small.tertiary:hover {
  color: #FFFFFF;
}
.button.small.tertiary:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #39414E;
}
.button.small.success:hover {
  color: #FFFFFF;
}
.button.small.success:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #8DDA72;
}
.button.small.danger:hover {
  color: #FFFFFF;
}
.button.small.danger:hover::after {
  opacity: 1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: translateX(0);
  border-top-right-radius: 4px;
  background-color: #EE8181;
}
.button.small.primary:active {
  color: #FFFFFF;
}
.button.small.primary:active::after {
  background-color: #2635CD;
}
.button.small.secondary:active {
  color: #202327;
}
.button.small.secondary:active::after {
  background-color: #F29408;
}
.button.small.tertiary:active {
  color: #FFFFFF;
}
.button.small.tertiary:active::after {
  background-color: #202327;
}
.button.small.success:active {
  color: #FFFFFF;
}
.button.small.success:active::after {
  background-color: #408D25;
}
.button.small.danger:active {
  color: #FFFFFF;
}
.button.small.danger:active::after {
  background-color: #E12828;
}
.button.primary.outline {
  background-color: #FFFFFF;
  color: #3C4EFA;
  box-shadow: inset 0 0 0 2px #3C4EFA;
}
.button.secondary.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #F9AA34;
}
.button.tertiary.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #202327;
}
.button.success.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #52B530;
}
.button.danger.outline {
  background-color: #FFFFFF;
  color: #202327;
  box-shadow: inset 0 0 0 2px #E85656;
}
.button.primary.transparent {
  background-color: transparent;
  color: #3C4EFA;
  box-shadow: none;
}
.button.secondary.transparent {
  background-color: transparent;
  color: #F9AA34;
  box-shadow: none;
}
.button.tertiary.transparent {
  background-color: transparent;
  color: #788394;
  box-shadow: none;
}
.button.success.transparent {
  background-color: transparent;
  color: #52B530;
  box-shadow: none;
}
.button.danger.transparent {
  background-color: transparent;
  color: #E85656;
  box-shadow: none;
}
.button.primary.pressed {
  background-color: #2635CD;
  color: #FFFFFF;
}
.button.secondary.pressed {
  background-color: #F29408;
  color: #202327;
}
.button.tertiary.pressed {
  background-color: #202327;
  color: #FFFFFF;
}
.button.success.pressed {
  background-color: #408D25;
  color: #FFFFFF;
}
.button.danger.pressed {
  background-color: #E12828;
  color: #FFFFFF;
}
.button.loading {
  flex-direction: row-reverse;
  pointer-events: none;
}
.button.loading i {
  opacity: 0;
  position: absolute;
}
.button.loading::before {
  content: "autorenew";
  width: 1em;
  height: 1em;
  display: block;
  margin-left: 8px;
  font-family: "Material Symbols Rounded";
  animation: rotation 2s infinite linear;
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: none;
}
.button.full {
  width: 100%;
}
.button.fill {
  flex: 1 0 auto;
}
@media only screen and (max-width: 649px) {
  .button.mobile {
    width: 100%;
  }
}
@media only screen and (max-width: 649px) {
  .button.icn {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 11;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .button.icn span {
    display: none;
  }
}
@media only screen and (max-width: 649px) {
  .button.mini span {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
}
.form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 4px;
}
.form-row label {
  color: #202327;
  font: 600 16px/24px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.form .error input {
  border-color: #E85656;
  box-shadow: none;
}
.form .error label .error-text {
  display: inline-block;
}
.form .error-text {
  display: none;
  color: #E85656;
  font: 400 12px/16px "Montserrat", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
}
.form .error > .error-text, .form .error + .error-text {
  display: block;
}
