html {
  height: $zui-100p;
  overflow-x: hidden;

  body {
    background-color: $pages;
    height: $zui-100p;
    overflow-x: hidden;
    @include text($normal-x5);
  }
}

.container {
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $zui-12;
  box-sizing: border-box;
  position: relative;
}