$tr: transparent;

$white:    #FFFFFF;
$pages:    #EAEAEA;
$object:   #EAEFFC;
$bg:       #F8F8F8;
$border:   #B7BABE;
$caption:  #788394;
$body:     #39414E;
$headline: #202327;

$navy:   #0079FA;
$aqua:   #00B0FA;
$violet: #6D4EFA;

$primary: #3C4EFA;
$success: #52B530;
$waring:  #F9AA34;
$danger:  #E85656;

$primary-hover: #5565FF;
$success-hover: #8DDA72;
$waring-hover:  #FABF66;
$danger-hover:  #EE8181;

$primary-pressed: #2635CD;
$success-pressed: #408D25;
$waring-pressed:  #F29408;
$danger-pressed:  #E12828;