$font-path: 'fonts'; // Путь до папки с шрифтами

$ff: 'Raleway', sans-serif;
$icon: 'Material Symboldls Rounded';


// Raleway
@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-Bold.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-BoldItalic.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-SemiBold.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-SemiBoldItalic.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-SemiBoldItalic.woff2) format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-Regular.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-Italic.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-Italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-Light.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(#{$font-path}/raleway/Raleway-LightItalic.woff) format('woff'),
       url(#{$font-path}/raleway/Raleway-LightItalic.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// Icons
@font-face {
  font-family: 'Material Symboldls Rounded';
  src: url(#{$font-path}/icon/MaterialSymbolsRounded.woff) format('woff'),
       url(#{$font-path}/icon/MaterialSymbolsRounded.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}