$font-path: "fonts"; // Путь до папки с шрифтами
$fonts-primary: "raleway"; // Папка шрифта
$fonts-icon: "icon"; // Папка с иконками

$ff: "Raleway", sans-serif;
$icon: "Material Symboldls Rounded";

// Raleway
@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-Bold.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-BoldItalic.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-BoldItalic.woff2)
			format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-SemiBold.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-SemiBoldItalic.woff)
			format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-SemiBoldItalic.woff2)
			format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-Regular.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-Italic.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-Italic.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-Light.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src:
		url(#{$font-path}/#{$fonts-primary}/Raleway-LightItalic.woff) format("woff"),
		url(#{$font-path}/#{$fonts-primary}/Raleway-LightItalic.woff2)
			format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

// Icons
@font-face {
	font-family: "Material Symboldls Rounded";
	src:
		url(#{$font-path}/#{fonts-icon}/MaterialSymbolsRounded.ttf) format("ttf"),
		url(#{$font-path}/#{fonts-icon}/MaterialSymbolsRounded.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
