$zui: 4px;

$zui-4: $zui;
$zui-8: $zui * 2;
$zui-12: $zui * 3;
$zui-16: $zui * 4;
$zui-20: $zui * 5;
$zui-24: $zui * 6;
$zui-28: $zui * 7;
$zui-32: $zui * 8;
$zui-36: $zui * 9;
$zui-40: $zui * 10;
$zui-44: $zui * 11;
$zui-48: $zui * 12;
$zui-52: $zui * 13;
$zui-56: $zui * 14;
$zui-60: $zui * 15;
$zui-64: $zui * 16;
$zui-68: $zui * 17;
$zui-72: $zui * 18;
$zui-76: $zui * 19;
$zui-80: $zui * 20;
$zui-84: $zui * 21;
$zui-88: $zui * 22;
$zui-92: $zui * 23;
$zui-96: $zui * 24;
$zui-100p: 100%;