$zui-4: 4px;
$zui-8: 8px;
$zui-12: 12px;
$zui-16: 16px;
$zui-20: 20px;
$zui-24: 24px;
$zui-28: 28px;
$zui-32: 32px;
$zui-36: 36px;
$zui-40: 40px;
$zui-44: 44px;
$zui-48: 48px;
$zui-52: 52px;
$zui-56: 56px;
$zui-60: 60px;
$zui-64: 64px;
$zui-68: 68px;
$zui-72: 72px;
$zui-76: 76px;
$zui-80: 80px;
$zui-84: 84px;
$zui-88: 88px;
$zui-92: 92px;
$zui-96: 96px;
$zui-100p: 100%;