$sizes: (
  large: (height: $zui-32, padding: 0 $zui-12, font-size: $zui-16),
  middle: (height: $zui-24, padding: 0 $zui-8, font-size: $zui-12),
  small: (height: $zui-16, padding: 0 $zui-8, font-size: $zui-8)
);

$circle: (
  large: (width: $zui-32, height: $zui-32, padding: 0, font-size: $zui-16),
  middle: (width: $zui-24, height: $zui-24, padding: 0, font-size: $zui-12),
  small: (width: $zui-16, height: $zui-16, padding: 0, font-size: $zui-8)
);

$notice: (
  large: (width: $zui-24, height: $zui-24, padding: 0, font-size: 0),
  middle: (width: $zui-16, height: $zui-16, padding: 0, font-size: 0),
  small: (width: $zui-12, height: $zui-12, padding: 0, font-size: 0)
);

$colors: (
  primary: (background-color: $secondary-primary-05, color: $primary),
  success: (background-color: $secondary-success-05, color: $success),
  secondary: (background-color: $secondary-waring-05, color: $waring),
  danger: (background-color: $secondary-danger-05, color: $danger),
  caption: (background-color: $secondary-gray-05, color: $caption)
);

$hover: (
  primary: (background-color: $secondary-primary, color: $primary),
  success: (background-color: $secondary-success, color: $success),
  secondary: (background-color: $secondary-waring, color: $waring),
  danger: (background-color: $secondary-danger, color: $danger),
  caption: (background-color: $secondary-gray, color: $caption)
);

$pressed: (
  primary: (background-color: $primary, color: $white),
  success: (background-color: $success, color: $white),
  secondary: (background-color: $waring, color: $white),
  danger: (background-color: $danger, color: $white),
  caption: (background-color: $caption, color: $white)
);

.badge {
  height: $zui-24;
  font-size: $zui-16;
  line-height: $zui-100p;
  font-weight: $bold;
  border-radius: $zui-20;
  @include flex($rw,$cr,$cr,$zui-4,$di);

  @each $size-name, $size-map in $sizes {
    &.#{$size-name} {
      font-size: map-get($size-map, font-size);
      height: map-get($size-map, height);
      padding: map-get($size-map, padding);
    }

    @each $color-name, $color-map in $colors {
      &.#{$color-name} {
        background-color: map-get($color-map, background-color);
        color: map-get($color-map, color);
      }
    }
  }

  // Модификаторы
  // pressed
  @each $pressed-name, $pressed-map in $pressed {
    &.#{$pressed-name} {
      &.pressed {
        background-color: map-get($pressed-map, background-color);
        color: map-get($pressed-map, color);
      }
    }
  }

  // hover
  @each $hover-name, $hover-map in $hover {
    &.#{$hover-name} {
      &.hover {
        background-color: map-get($hover-map, background-color);
        color: map-get($hover-map, color);
      }
    }
  }

  // circle
  @each $circle-name, $circle-map in $circle {
    &.#{$circle-name} {
      &.circle {
        font-size: map-get($circle-map, font-size);
        width: map-get($circle-map, width);
        height: map-get($circle-map, height);
        padding: map-get($circle-map, padding);
        overflow: hidden;
      }
    }
  }

  // notice
  @each $notice-name, $notice-map in $notice {
    &.#{$notice-name} {
      &.notice {
        font-size: map-get($notice-map, font-size);
        width: map-get($notice-map, width);
        height: map-get($notice-map, height);
        padding: map-get($notice-map, padding);
        overflow: hidden;

        svg {
          display: none;
        }
      }
    }
  }

  &--line {
    display: inline-flex;
  }
}