// Цвета
$colors: (
  primary: (background-color: $primary, color: $white),
  secondary: (background-color: $waring, color: $headline),
  tertiary: (background-color: $headline, color: $white),
  success: (background-color: $success, color: $white),
  danger: (background-color: $danger, color: $white),
);

// Размер
$sizes: (
  large: (font: $large, padding: $zui-16 $zui-24),
  middle: (font: $middle, padding: $zui-12 $zui-16),
  small: (font: $small, padding: $zui-8 $zui-12)
);

$outline: (
  primary: (background-color: $white, color: $primary, box-shadow: inset 0 0 0 2px $primary),
  secondary: (background-color: $white, color: $headline, box-shadow: inset 0 0 0 2px $waring),
  tertiary: (background-color: $white, color: $headline, box-shadow: inset 0 0 0 2px $headline),
  success: (background-color: $white, color: $headline, box-shadow: inset 0 0 0 2px $success),
  danger: (background-color: $white, color: $headline, box-shadow: inset 0 0 0 2px $danger)
);

$hover: (
  primary: (background-color: $primary-hover, color: $white),
  secondary: (background-color: $waring-hover, color: $headline),
  tertiary: (background-color: $body, color: $white),
  success: (background-color: $success-hover, color: $white),
  danger: (background-color: $danger-hover, color: $white)
);

$transparent: (
  primary: $primary,
  secondary: $waring,
  tertiary: $caption,
  success: $success,
  danger: $danger
);

$pressed: (
  primary: (background-color: $primary-pressed, color: $white),
  secondary: (background-color: $waring-pressed, color: $headline),
  tertiary: (background-color: $headline, color: $white),
  success: (background-color: $success-pressed, color: $white),
  danger: (background-color: $danger-pressed, color: $white)
);


.button {
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  gap: $zui-8;
  border-radius: .5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  flex: 0 0 auto;
  border: 0;
  z-index: 2;
  @include flex($rw,$cr,$cr,0,$di);

  .icon {
    margin-top: -2px;
  }

  &::after {
    content: '';
    width: $zui-100p;
    height: $zui-100p;
    display: block;
    position: absolute;
    background: $tr;
    z-index: -1;
    opacity: 0;
    transition: .5s;
    transform: translateX(-$zui-100p);
    border-radius: $zui-4;
    border-top-right-radius: $zui-100p;
  }

  // Размеры и основные стили
  @each $size-name, $size-map in $sizes {
    &.#{$size-name} {
      font: map-get($size-map, font);
      padding: map-get($size-map, padding);

      // Цвета и состояния
      @each $color-name, $color-map in $colors {
        &.#{$color-name} {
          background-color: map-get($color-map, background-color);
          color: map-get($color-map, color);
        }
      }

      // Ховер
      @each $color-name, $color-map in $hover {
        &.#{$color-name} {
          &:hover {
            color: map-get($color-map, color);
            &::after {
              opacity: 1;
              width: calc($zui-100p + $zui-4);
              height: calc($zui-100p + $zui-4);
              transform: translateX(0);
              border-top-right-radius: $zui-4;
              background-color: map-get($color-map, background-color);
            }
          }
        }
      }

      // Нажатая или активная кнопка
      @each $color-name, $color-map in $pressed {
        &.#{$color-name} {
          &:active {
            color: map-get($color-map, color);
            &::after {
              background-color: map-get($color-map, background-color);
            }
          }
        }
      }
    }
  }

  // Модификаторы
  // outline
  @each $outline-name, $outline-map in $outline {
    &.#{$outline-name} {
      &.outline {
        background-color: map-get($outline-map, background-color);
        color: map-get($outline-map, color);
        box-shadow: map-get($outline-map, box-shadow);
      }
    }
  }
  // transparent
  @each $transparent-name, $transparent-value in $transparent {
    &.#{$transparent-name} {
      &.transparent {
        background-color: $tr;
        color: $transparent-value;
        box-shadow: none;
      }
    }
  }
  // active
  @each $color-name, $color-map in $pressed {
    &.#{$color-name} {
      &.pressed {
        background-color: map-get($color-map, background-color);
        color: map-get($color-map, color);
        box-shadow: map-get($color-map, box-shadow);
      }
    }
  }

  &.loading {
    flex-direction: row-reverse;
    pointer-events: none;

    i {
      opacity: 0;
      position: absolute;
    }

    &::before {
      content: 'autorenew';
      width: 1em;
      height: 1em;
      display: block;
      margin-left: $zui-8;
      font-family: 'Material Symbols Rounded';
      animation: rotation 2s infinite linear;
    }
  }

  // disabled
  &.disabled {
    opacity: .5;
    pointer-events: none;
    filter: none;
  }

  // full
  &.full {
    width: $zui-100p;
  }

  // full
  &.fill {
    flex: 1 0 auto
  }

  // mobile modification
  &.mobile {
    @include mq(mobile) {
      width: $zui-100p;
    }
  }

  &.icn {
    @include mq(mobile) {
      width: $zui-40;
      height: $zui-40;
      position: fixed;
      bottom: $zui-12;
      right: $zui-12;
      z-index: 11;
      padding: 0;
      @include flex($rw,$cr,$cr);

      span {
        display: none;
      }
    }
  }

  &.mini {
    @include mq(mobile) {
      span {
        display: none;
      }
    }
  }
}