.form {
  @include flex($cl,$fs,$sh,$zui-8);

  &-row {
    @include flex($cl,$fs,$sh,$zui-4);

    label {
      @include text($bold-x4);
    }
  }

  .error {

    input {
      border-color: $danger;
      box-shadow: none;
    }

    label {
      .error-text {
        display: inline-block;
      }
    }

    &-text {
      display: none;
      @include text($normal-x3,$danger);
    }

    & > .error-text, & + .error-text {
      display: block;
    }
  }
}