.form {
  @include flex($cl,$fs,$sh,$zui-8);

  &__row {
    @include flex($cl,$fs,$sh,$zui-4);

    label {
      @include text($bold-x4);
    }

    .error-text {
      display: none;
      @include text($normal-x3,$danger);
    }

    &--error {

      input, textarea {
        border-color: $danger;
        box-shadow: none;
      }
  
      .error-text {
        display: block;
      }
    }
  }
}