.radio {
  
  .control {
    cursor: pointer;
    margin-bottom: $zui-20;
    @include text($subline-x4);
    @include flex($rw,$fs,$fs);

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked {

        & ~ .control-indicator {
          border-color: $primary;

          &:after {
            background: $primary;
            opacity: 1;
          }
        }
      }

      &:disabled {

        & ~ .control-indicator {
          background: transparent;
          opacity: .4;
          pointer-events: none;

          &:after {
            background: transparent;
          }
        }
      }
    }

    &-wrapper {
      margin-top: calc(-#{$zui-4}/2);

      &__title {
        @include text($subline-x4);
      }

      &__text {
        @include text($normal-x3,$caption);
      }
    }

    &-indicator {
      height: $zui-24;
      width: $zui-24;
      border-radius: $zui-100p;
      position: relative;
      margin-right: $zui-12;
      border: 2px solid $border;
      box-sizing: border-box;
      @include transition;
      @include flex($rw,$cr,$cr);

      &:after {
        content: '';
        display: block;
        height: $zui-12;
        width: $zui-12;
        border-radius: $zui-100p;
        background: $border;
        opacity: .0;
        @include transition;
      }
    }
  }
}