$colors: (
  primary: (background-color: $white, color: $body, border: $primary, icon: $primary, close: $border),
  success: (background-color: $white, color: $body, border: $success, icon: $success, close: $border),
  waring: (background-color: $white, color: $body, border: $waring, icon: $waring, close: $border),
  danger: (background-color: $white, color: $body, border: $danger, icon: $danger, close: $border),
  caption: (background-color: $caption, color: $white, border: $caption, icon: $border, close: $border),
  body: (background-color: $body, color: $white, border: $body, icon: $border, close: $caption),
  tertiary: (background-color: $headline, color: $white, border: $headline, icon: $border, close: $caption),
);

.snackbar {
  width: auto;
  border-radius: $zui-8;
  background: $white;
  padding: $zui-8 $zui-12;
  border: 2px solid $white;
  box-sizing: border-box;
  @include text($small,$body);
  @include flex($rw,$fs,$cr,$zui-8,$di);

  i {
    color: $primary;

    &.close {
      color: $caption;
      cursor: pointer;
    }
  }

  @each $color-name, $color-map in $colors {
    &.#{$color-name} {
      border-color: map-get($color-map, border);
      background-color: map-get($color-map, background-color);
      color: map-get($color-map, color);

      i {
        color: map-get($color-map, icon);
  
        &.close {
          color: map-get($color-map, close);
        }
      }
    }
  }
}