.tooltip {
  cursor: help;
  position: relative;

  &__wrapper {
    opacity: 0;
    cursor: default;
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    transform: translateX(-50%);
    z-index: 10;
    @include transition(300);
    @include block($body,$zui-8 $zui-12,$zui-8,$shadow_3);

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &::after {
      content: "";
      position: absolute;
      width: $zui-100p;
      height: $zui-16;
    }
  }

  &__title {
    margin-bottom: $zui-4;
    @include text($bold-x4,$white);
  }

  &__text {
    @include text($normal-x3,$white);
  }

  &:hover {

    .tooltip__wrapper {
      opacity: 1;
    }
  }

  &--focus {

    &:hover {

      .tooltip__wrapper {
        pointer-events: all;
      }
    }
  }

  &[data-position="top"] {
    .tooltip__wrapper {
      bottom: $zui-100p;
      left: calc(#{$zui-100p} / 2);
      margin-bottom: $zui-12;

      &::before {
        top: $zui-100p;
        left: calc(#{$zui-100p} / 2);
        transform: translateX(-50%);
        border-width: $zui-8 $zui-8 0 $zui-8;
        border-color: $body transparent transparent transparent;
      }

      &::after {
        top: $zui-100p;
        left: calc(#{$zui-100p} / 2);
        transform: translateX(-50%);
      }
    }
  }

  &[data-position="bottom"] {
    .tooltip__wrapper {
      top: $zui-100p;
      left: calc(#{$zui-100p} / 2);
      margin-top: $zui-12;

      &::before {
        bottom: $zui-100p;
        left: calc(#{$zui-100p} / 2);
        transform: translateX(-50%);
        border-width: 0 $zui-8 $zui-8 $zui-8;
        border-color: transparent transparent $body transparent;
      }

      &::after {
        bottom: $zui-100p;
        left: calc(#{$zui-100p} / 2);
        transform: translateX(-50%);
      }
    }
  }

  &[data-position="left"] {
    .tooltip__wrapper {
      top: calc(#{$zui-100p} / 2);
      right: $zui-100p;
      transform: translateY(-50%);
      margin: calc(#{-$zui-4} / 2) $zui-12 0 0;

      &::before {
        top: calc(#{$zui-100p} / 2);
        left: $zui-100p;
        transform: translateY(-50%);
        border-width: $zui-8 0 $zui-8 $zui-8;
        border-color: transparent transparent transparent $body;
      }
      
      &::after {
        top: 0;
        width: $zui-24;
        height: $zui-100p;
        left: $zui-100p;
        transform: translateY(0);
      }
    }
  }

  &[data-position="right"] {
    .tooltip__wrapper {
      top: calc(#{$zui-100p} / 2);
      left: $zui-100p;
      transform: translateY(-50%);
      margin: calc(#{-$zui-4} / 2) 0 0 $zui-12;

      &::before {
        top: calc(#{$zui-100p} / 2);
        right: $zui-100p;
        transform: translateY(-50%);
        border-width: $zui-8 $zui-8 $zui-8 0;
        border-color: transparent $body transparent transparent;
      }
      
      &::after {
        top: 0;
        width: $zui-24;
        height: $zui-100p;
        right: $zui-100p;
        transform: translateY(0);
      }
    }
  }
}