h1 {
  margin-bottom: $zui-20;
  @include text($headline-x10);
}

h2 {
  margin-bottom: $zui-20;
  @include text($headline-x8);
}

h3 {
  margin-bottom: $zui-20;
  @include text($headline-x6);
}

h4 {
  margin-bottom: $zui-20;
  @include text($headline-x4);
}

h5 {
  margin-bottom: $zui-20;
  @include text($headline-x4);
}

h6 {
  margin-bottom: $zui-20;
  @include text($headline-x4);
}

p {
  @include text($normal-x5);

  &:not(&:last-child) {
    margin-bottom: $zui-20;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: $primary-hover;
    }

    &:visited, &:active {
      color: $primary-pressed;
    }
  }
}

ul, ol {
  margin-bottom: $zui-20;

  &:not(&:last-child) {
    margin-bottom: $zui-20;
  }

  li {
    @include text($normal-x5);
    @include flex($rw,$fs,$fs,$zui-8);

    &:not(&:last-child) {
      margin-bottom: $zui-12;
    }
  }
}

ul {

  li {

    &::before {
      content: '';
      width: $zui-4;
      height: $zui-4;
      display: block;
      margin-top: $zui-12;
      background: $primary;
    }
  }
}

ol {
  counter-reset: ol-counter;

  li {

    &::before {
      content: counter(ol-counter)'.';
      counter-increment: ol-counter;
      width: $zui-20;
      color: $primary;
      text-align: right;
    }
  }
}

blockquote {
  padding: $zui-32;
  border-radius: $zui-16;
  box-sizing: border-box;
  background: $pages;
  @include text($normal-x5);
  font-style: italic;
  position: relative;

  p {
    font-style: italic;
  }

  &:not(&:last-child) {
    margin-bottom: $zui-20;
  }

  &::before, &::after {
    @include text($title-x16,$caption);
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    opacity: .2;
  }

  &::before {
    content: '“';
    top: 0;
    left: $zui-8;
  }

  &::after {
    content: '”';
    bottom: -$zui-24;
    right: $zui-8;
  }
}

code {
  @include text($normal-x4,$caption);
  padding: $zui-4 $zui-8;
  border-radius: $zui-4;
  background: $pages;
}

pre {
  @include text($normal-x4);
  padding: $zui-16;
  border-radius: $zui-4;
  background: $pages;
  overflow-x: scroll;
  @include scrollbar;

  &:not(&:last-child) {
    margin-bottom: $zui-20;
  }

  code {
    padding: 0;
  }
}

table {
  width: $zui-100p;
  border-collapse: collapse;

  th {
    border-bottom: 2px solid $primary;
    padding: $zui-4;
    @include text($normal-x5);
  }

  td {
    border-bottom: 1px solid $border;
    padding: $zui-4;
    @include text($normal-x5);
  }

  tr {
    &:last-child {

      td {
        border: 0;
      }
    }
  }
}

