@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
  &::placeholder { /* Most modern browsers support this now. */
    color: $color;
  }
}

@mixin field-sizing($line-height: null, $min-height: null) {
  line-height: if($line-height != null, $line-height, 1.5);
  field-sizing: content;
  min-height: if($min-height != null, $min-height * 1lh, 3lh);
}