$tr: transparent;
$white: #ffffff;

// Main
$pages:  #EAEAEA;
$border: #B7BABE;
$text:   #202327;

// Primary
$primary:  #325FEB;
$success:  #52B530;
$waring:   #F9AA34;
$danger:   #E85656;
$tertiary: #4E555F;

// Hover
$primary-hover:  #6185F0;
$success-hover:  #8DDA72;
$waring-hover:   #FABF66;
$danger-hover:   #EE8181;
$tertiary-hover: #4E555F;

// Pressed
$primary-pressed: #2635CD;
$success-pressed: #408D25;
$waring-pressed:  #F29408;
$danger-pressed:  #E12828;
$tertiary-pressed:#39414E;